<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PvPHelper.Core.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PvPHelper.Core.Achievements.AchievementList" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PvPHelper.Core.Settings>
            <setting name="AutoUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowUnsafe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpawnAnimation" serializeAs="String">
                <value>63021</value>
            </setting>
            <setting name="DebugLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InvasionPhantomID" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="CustomInvasionSpawn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ItemGibSingle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAchievements" serializeAs="String">
                <value>True</value>
            </setting>
        </PvPHelper.Core.Settings>
        <PvPHelper.Core.Achievements.AchievementList>
            <setting name="WildSenko" serializeAs="String">
                <value>False</value>
            </setting>
        </PvPHelper.Core.Achievements.AchievementList>
    </userSettings>
</configuration>